dist
node_modules
*.d.ts

.output.js
*.svg
*.sh
public
*-lock.yaml
.output
*.local
.cache

.temp
yarn.lock
package-lock.json
pnpm-lock.yaml
.VSCodeCounter

.eslintcache

*.log

gen-api
api.json
dist
tonghui_android

**/unipackage
**/uniCloud-aliyun
**/uni_modules



